<h1>Edite o livro</h1>

<form action="/books/edit/save" method="post" class="form">
    <input type="hidden" name="id" value={{book.id}}>
    <div class="title">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o título" value="{{book.title}}">
    </div>
    <div class="author">
        <label for="author">Autor da Obra:</label>
        <input type="text" name="author" placeholder="Digite o nome do autor" value="{{book.author}}">
    </div>
    <button type="submit" class="btn">Editar</button>
</form>